/* This entire CSS block would be copied directly from Tweak CN */
:root {
  --background: oklch(0.9693 0.0024 48.7208);
  --foreground: oklch(0.3138 0.0131 264.3681);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3138 0.0131 264.3681);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3138 0.0131 264.3681);
  --primary: oklch(0.6098 0.1111 147.8910);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9028 0.0294 84.5920);
  --secondary-foreground: oklch(0.3138 0.0131 264.3681);
  --muted: oklch(0.9260 0.0088 67.7167);
  --muted-foreground: oklch(0.5052 0.0205 248.2336);
  --accent: oklch(0.9156 0.0154 164.6949);
  --accent-foreground: oklch(0.3138 0.0131 264.3681);
  --destructive: oklch(0.5916 0.1740 24.1326);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8444 0.0089 48.6222);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.6098 0.1111 147.8910);
  --chart-1: oklch(0.6098 0.1111 147.8910);
  --chart-2: oklch(0.7842 0.0845 84.0377);
  --chart-3: oklch(0.6992 0.0697 230.7219);
  --chart-4: oklch(0.7486 0.0824 326.3613);
  --chart-5: oklch(0.8720 0.0670 107.7127);
  --sidebar: oklch(0.8942 0.0194 164.5640);
  --sidebar-foreground: oklch(0.3138 0.0131 264.3681);
  --sidebar-primary: oklch(0.5601 0.1010 147.9283);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8286 0.0371 173.2140);
  --sidebar-accent-foreground: oklch(0.3138 0.0131 264.3681);
  --sidebar-border: oklch(0.8171 0.0273 156.5688);
  --sidebar-ring: oklch(0.5601 0.1010 147.9283);
  --font-sans: 'Studio Ghibli', sans-serif;
  --font-serif: 'Ghibli Serif', serif;
  --font-mono: 'Ghibli Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(220, 10%, 20%);
  --shadow-2xs: 0px 4px 10px -2px hsl(220 10% 20% / 0.05);
  --shadow-xs: 0px 4px 10px -2px hsl(220 10% 20% / 0.05);
  --shadow-sm: 0px 4px 10px -2px hsl(220 10% 20% / 0.10), 0px 1px 2px -3px hsl(220 10% 20% / 0.10);
  --shadow: 0px 4px 10px -2px hsl(220 10% 20% / 0.10), 0px 1px 2px -3px hsl(220 10% 20% / 0.10);
  --shadow-md: 0px 4px 10px -2px hsl(220 10% 20% / 0.10), 0px 2px 4px -3px hsl(220 10% 20% / 0.10);
  --shadow-lg: 0px 4px 10px -2px hsl(220 10% 20% / 0.10), 0px 4px 6px -3px hsl(220 10% 20% / 0.10);
  --shadow-xl: 0px 4px 10px -2px hsl(220 10% 20% / 0.10), 0px 8px 10px -3px hsl(220 10% 20% / 0.10);
  --shadow-2xl: 0px 4px 10px -2px hsl(220 10% 20% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2664 0.0135 248.3348);
  --foreground: oklch(0.9293 0.0098 84.5761);
  --card: oklch(0.3170 0.0173 248.3715);
  --card-foreground: oklch(0.9293 0.0098 84.5761);
  --popover: oklch(0.3170 0.0173 248.3715);
  --popover-foreground: oklch(0.9293 0.0098 84.5761);
  --primary: oklch(0.6920 0.1092 148.3555);
  --primary-foreground: oklch(0.3138 0.0131 264.3681);
  --secondary: oklch(0.5553 0.0628 83.9396);
  --secondary-foreground: oklch(0.9293 0.0098 84.5761);
  --muted: oklch(0.3671 0.0139 248.2062);
  --muted-foreground: oklch(0.7027 0.0312 84.5764);
  --accent: oklch(0.4451 0.0442 162.1823);
  --accent-foreground: oklch(0.9293 0.0098 84.5761);
  --destructive: oklch(0.6696 0.1343 21.3006);
  --destructive-foreground: oklch(0.3138 0.0131 264.3681);
  --border: oklch(0.4144 0.0162 248.2179);
  --input: oklch(0.3170 0.0173 248.3715);
  --ring: oklch(0.6920 0.1092 148.3555);
  --chart-1: oklch(0.6920 0.1092 148.3555);
  --chart-2: oklch(0.8150 0.0729 84.2952);
  --chart-3: oklch(0.7370 0.0611 230.2504);
  --chart-4: oklch(0.7908 0.0679 326.1963);
  --chart-5: oklch(0.8976 0.0538 107.4360);
  --sidebar: oklch(0.3871 0.0291 162.9898);
  --sidebar-foreground: oklch(0.9293 0.0098 84.5761);
  --sidebar-primary: oklch(0.6584 0.1210 147.8606);
  --sidebar-primary-foreground: oklch(0.3138 0.0131 264.3681);
  --sidebar-accent: oklch(0.4972 0.0453 171.5545);
  --sidebar-accent-foreground: oklch(0.9293 0.0098 84.5761);
  --sidebar-border: oklch(0.4299 0.0254 155.9993);
  --sidebar-ring: oklch(0.6584 0.1210 147.8606);
  --font-sans: 'Studio Ghibli', sans-serif;
  --font-serif: 'Ghibli Serif', serif;
  --font-mono: 'Ghibli Mono', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(220, 10%, 10%);
  --shadow-2xs: 0px 4px 10px -2px hsl(220 10% 10% / 0.25);
  --shadow-xs: 0px 4px 10px -2px hsl(220 10% 10% / 0.25);
  --shadow-sm: 0px 4px 10px -2px hsl(220 10% 10% / 0.50), 0px 1px 2px -3px hsl(220 10% 10% / 0.50);
  --shadow: 0px 4px 10px -2px hsl(220 10% 10% / 0.50), 0px 1px 2px -3px hsl(220 10% 10% / 0.50);
  --shadow-md: 0px 4px 10px -2px hsl(220 10% 10% / 0.50), 0px 2px 4px -3px hsl(220 10% 10% / 0.50);
  --shadow-lg: 0px 4px 10px -2px hsl(220 10% 10% / 0.50), 0px 4px 6px -3px hsl(220 10% 10% / 0.50);
  --shadow-xl: 0px 4px 10px -2px hsl(220 10% 10% / 0.50), 0px 8px 10px -3px hsl(220 10% 10% / 0.50);
  --shadow-2xl: 0px 4px 10px -2px hsl(220 10% 10% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}